<head>

    <!-- fonts and icons -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- reactive -->
	<script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>

    <!-- material design lite resources -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-red.min.css" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{=URL('static', 'stylesheets/content.css')}}">
    <link rel="stylesheet" href="{{=URL('static', 'stylesheets/sidebar.css')}}">
</head>


<div id="target"></div>

<script id="template" type="text/ractive">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

  <!-- navbar -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title">Dashboard</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
      </div>
    </div>
  </header>

  <!-- sidebar -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><strong>tinyML</strong></span>
	<hr>
    <nav class="mdl-navigation">
       <a class="mdl-navigation__link" href={{=URL('dashboard')}}>
             <i class="fa fa-pie-chart"></i> Models
       </a>
       <a class="mdl-navigation__link" href={{=URL('dashboard')}}>
             <i class="fa fa-tasks"></i> Create
       </a>
       <a class="mdl-navigation__link" href={{=URL('dashboard')}}>
             <i class="fa fa-book"></i> Tutorials 
       </a>
        <hr>
        <a class="mdl-navigation__link" href={{=URL('do_logout')}}>
             <i class="fa fa-sign-out"></i> Logout
       </a>
    </nav>
  </div>


  <!-- main content -->
  <main class="mdl-layout__content">
    <div class="page-content">
    <div class="mdl-grid">
    
		<!-- jumbo-tron card -->
		<div class="mdl-cell mdl-cell--10-col jumbotron">
			 <h1>Dashboard</h1>
		</div>
    </div>

    <div class="mdl-grid">

        <!-- explainer cards -->
        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title ">
          </div>
          <div class="mdl-card__supporting-text">
             <h1 class="mdl-card__title-text">Customize</h1>
			<br>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                Start by hand designing the layout of your neural network. You can completely customize your model, everything from the input/output dimensions, number of hidden layers, activation functions, dropout-rates, and more can be customized.
            </div>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title ">
          </div>
          <div class="mdl-card__supporting-text">
             <h1 class="mdl-card__title-text">Train</h1>
			<br>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                Once your model is setup, you can upload vast amounts of training data to our servers and we will we will initiate a training session. You can of course specify the parameters of the training, such as the number of epochs, batch size, validation withholding, etc. 
            </div>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title ">
          </div>
          <div class="mdl-card__supporting-text">
             <h1 class="mdl-card__title-text">Predict</h1>
			 <br>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            Once you've trained your model, you can use it to make a predictions on unlabeled data. 
			This can be done in either bulk or individual uploads, and depending on your results you 
			can always go back and retrain your model.
            </div>
          </div>
        </div>

        </div> <!-- end inner grid -->



  </main>
</div>
</script>

<!-- include the reactive handling code -->
<script> var logged_in = {{=logged_in }}; var user_id = {{=user_id }};</script>
<script src="{{=URL('static', 'js/scripts/landing.js')}}"></script>
