<head>

    <!-- fonts and icons -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- reactive -->
	<script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>

    <!-- material design lite resources -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-red.min.css" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>


<div id="target"></div>

<script id="template" type="text/ractive">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

  <!-- navbar -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title">tinyML</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
      </div>
    </div>
  </header>

  <!-- sidebar -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Welcome</span>
    <nav class="mdl-navigation">
      {% #if logged_in %}
        <a class="mdl-navigation__link" href={{=URL('do_logout')}}>
             <i class="fa fa-sign-out"></i> Logout
       </a>
      {% else %}
       <a class="mdl-navigation__link" href={{=URL('do_login')}}>
             <i class="fa fa-sign-in"></i> Login
       </a>
        <a class="mdl-navigation__link" href={{=URL('do_register')}}>
             <i class="fa fa-user-plus"></i> Register
        </a>
      {% /if %}
    </nav>
  </div>


  <!-- main content -->
  <main class="mdl-layout__content">
    <div class="page-content">
    <div class="card-post mdl-card mdl-shadow--2dp" style="width:100%">
      <div class="mdl-card__title">
         <h2 class="mdl-card__title-text">{% title %}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            {% body %}
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border" style="padding-bottom:0">
          <div class="mdl-card__menu">
            <button data-post-id="{% post_id %}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="editPost">
                  <i class="material-icons">create</i>
                </button>
                <button data-post-id="{% post_id %}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="removePost">
                  <i class="material-icons">clear</i>
                </button>
          </div>
        </div>
    </div>
  </main>
</div>
</script>

<!-- include the reactive handling code -->
<script src="{{=URL('static', 'js/scripts/landing.js')}}"></script>
