/* line 17, ../sass/_base.sass */
.jumbotron {
  background-color: #FFFFFF;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  min-height: 100px;
  min-width: 320px;
  width: 100%;
  text-align: center;
}
/* line 26, ../sass/_base.sass */
.jumbotron h1 {
  font-size: 68px;
  font-weight: 40;
  color: #37474f;
}
/* line 30, ../sass/_base.sass */
.jumbotron h2 {
  font-size: 40px;
  color: #37474f;
  font-weight: 80;
}

/* line 35, ../sass/_base.sass */
.mdl-layout-title {
  color: #EEF2F1;
  font-size: 24px;
}

/* line 39, ../sass/_base.sass */
.mdl-grid {
  max-width: 1400px;
}

/* line 42, ../sass/_base.sass */
.mdl-card {
  text-align: left;
}
/* line 45, ../sass/_base.sass */
.mdl-card .landing-card {
  background-color: #78909C;
  color: #EEF2F1;
  min-height: 180px;
}
/* line 50, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__title-text {
  font-size: 36px;
}
/* line 53, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__supporting-text {
  width: 100%;
  min-height: 130px;
}
/* line 56, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__supporting-text h1 {
  font-size: 36px;
}
/* line 59, ../sass/_base.sass */
.mdl-card .customize-card {
  background: url("../images/nnet_6.png") top 50% left 100% no-repeat #37474f;
  background-size: 240px 240px;
}
/* line 63, ../sass/_base.sass */
.mdl-card .train-card {
  background: url("../images/data_1.png") bottom 20% right 75% no-repeat #37474f;
  color: #EEF0F2;
}
/* line 67, ../sass/_base.sass */
.mdl-card .predict-card {
  background: url("../images/nnet_4.png") bottom 23% right 55% no-repeat #37474f;
  color: #37474f;
}

/* line 71, ../sass/_base.sass */
.mdl-card__actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 3, ../sass/content.sass */
.mdl-card {
  overflow-x: auto;
}
/* line 6, ../sass/content.sass */
.mdl-card .mdl-card__menu {
  margin-top: -8px;
}
/* line 9, ../sass/content.sass */
.mdl-card .mdl-card__title {
  padding-bottom: 8px;
  background-color: #37474f;
  width: 100%;
  padding-top: 8px;
}
/* line 15, ../sass/content.sass */
.mdl-card .mdl-card__title .mdl-card__title-text {
  font-size: 30px;
  color: #FFFFFF;
}
/* line 19, ../sass/content.sass */
.mdl-card .mdl-card__supporting-text {
  width: 100%;
}
/* line 22, ../sass/content.sass */
.mdl-card .mdl-data-table {
  font-size: 12px;
  width: 100%;
  vertical-align: center;
}

/* line 27, ../sass/content.sass */
.clickable-row {
  cursor: pointer;
}

/* line 30, ../sass/content.sass */
.material-icons {
  color: #FFFFFF;
}

/* line 33, ../sass/content.sass */
.fa-2x {
  font-size: 1.5em;
}
