/* line 24, ../sass/_base.sass */
.modal-backdrop {
  position: static;
  z-index: 1;
}

/* line 28, ../sass/_base.sass */
.modal-dialog {
  margin: 100px auto;
  z-index: 1500;
}

/* line 32, ../sass/_base.sass */
.page-content {
  background-color: #B3D7E8;
  background-color: #ECF0EF;
  min-height: 100%;
}

/* line 36, ../sass/_base.sass */
.body {
  background-color: #B3D7E8;
  background-color: #ECF0EF;
  min-height: 100%;
}

/* line 41, ../sass/_base.sass */
.fa-exclamation {
  padding-left: 4px;
  padding-right: 4px;
}

/* line 45, ../sass/_base.sass */
.jumbotron {
  background-color: #B3D7E8;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  min-height: 100px;
  min-width: 320px;
  width: 100%;
  text-align: center;
}
/* line 54, ../sass/_base.sass */
.jumbotron h1 {
  font-size: 68px;
  font-weight: 40;
  color: #37474f;
}
/* line 58, ../sass/_base.sass */
.jumbotron h2 {
  font-size: 40px;
  color: #37474f;
  font-weight: 80;
}
/* line 63, ../sass/_base.sass */
.jumbotron small {
  color: #37474f;
}

/* line 67, ../sass/_base.sass */
.mdl-layout-title {
  color: #EEF2F1;
  font-size: 24px;
}

/* line 71, ../sass/_base.sass */
.mdl-layout__header {
  min-height: 40px;
}

/* line 73, ../sass/_base.sass */
.mdl-layout__header-row {
  min-height: 40px;
  height: 36px;
}

/* line 76, ../sass/_base.sass */
.mdl-layout__drawer-button {
  min-height: 36px;
  height: 36px;
  padding-top: 4px;
}
/* line 80, ../sass/_base.sass */
.mdl-layout__drawer-button i {
  color: #FFFFFF;
}

/* line 84, ../sass/_base.sass */
.mdl-layout__drawer .mdl-layout-title {
  font-size: 21px;
  font-weight: 400;
  padding-left: 20px;
  padding-bottom: 0px;
}
/* line 89, ../sass/_base.sass */
.mdl-layout__drawer .mdl-layout-title small {
  font-size: 17px;
  color: #EEF0F2;
  font-weight: 300;
}

/* line 94, ../sass/_base.sass */
.brand {
  font-size: 30px;
  font-weight: 500;
  padding-left: 10px;
}

/* line 100, ../sass/_base.sass */
.mdl-grid {
  max-width: 1400px;
}

/* line 103, ../sass/_base.sass */
.mdl-card {
  text-align: left;
}
/* line 106, ../sass/_base.sass */
.mdl-card h4 {
  color: #37474f;
  margin-bottom: 0px;
}
/* line 109, ../sass/_base.sass */
.mdl-card h3 {
  color: #37474f;
}
/* line 112, ../sass/_base.sass */
.mdl-card .landing-card {
  background-color: #78909C;
  color: #EEF2F1;
  min-height: 200px;
}
/* line 117, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__title-text {
  font-size: 36px;
}
/* line 120, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__supporting-text {
  width: 100%;
  min-height: 130px;
}
/* line 123, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__supporting-text h1 {
  font-size: 36px;
}
/* line 126, ../sass/_base.sass */
.mdl-card .customize-card {
  background: url("../images/nnet_6.png") top 50% left 100% no-repeat #37474f;
  background-size: 240px 240px;
}
/* line 130, ../sass/_base.sass */
.mdl-card .train-card {
  background: url("../images/data_1.png") bottom 20% right 75% no-repeat #37474f;
  color: #EEF0F2;
}
/* line 134, ../sass/_base.sass */
.mdl-card .predict-card {
  background: url("../images/nnet_4.png") bottom 23% right 55% no-repeat #37474f;
  color: #37474f;
}

/* line 138, ../sass/_base.sass */
.mdl-card__actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 5, ../sass/content.sass */
.flex-card {
  width: auto;
}

/* line 8, ../sass/content.sass */
.mdl-grid {
  width: 100%;
}

/* line 11, ../sass/content.sass */
.btn {
  padding: 4px 12px;
}

/* line 14, ../sass/content.sass */
.btn-primary {
  background-color: #607D8B;
  border: 1px solid #607D8B;
  border-radius: 2px;
}

/* line 19, ../sass/content.sass */
.label {
  font-size: 10px;
  margin-left: 5px;
}

/* line 23, ../sass/content.sass */
.label-primary {
  background-color: #37474f;
}

/* line 26, ../sass/content.sass */
.label-warning {
  background-color: #616161;
}

/* line 29, ../sass/content.sass */
.label-green {
  background-color: #319C20;
}

/* line 32, ../sass/content.sass */
.label-blue {
  background-color: #37474f;
}

/* line 35, ../sass/content.sass */
.label-red {
  background-color: #7D2529;
}

/* line 38, ../sass/content.sass */
.label-light-blue {
  background-color: #78909C;
}

/* line 41, ../sass/content.sass */
.error {
  border: 1px solid red;
}

/* line 43, ../sass/content.sass */
pre {
  text-align: left;
  white-space: pre-line;
  overflow: auto;
  word-wrap: normal;
}

/* line 49, ../sass/content.sass */
pre code {
  overflow-wrap: normal;
  white-space: pre;
  color: #37474f;
}

/* line 55, ../sass/content.sass */
.list-unstyled {
  font-size: 12px;
}

/* line 59, ../sass/content.sass */
body {
  font-family: "Roboto", sans-serif;
}

/* line 62, ../sass/content.sass */
.mdl-card {
  min-height: 100px;
  overflow-x: auto;
}
/* line 65, ../sass/content.sass */
.mdl-card .mdl-card__menu {
  margin-top: -10px;
  right: 12px;
  top: 12px;
}
/* line 70, ../sass/content.sass */
.mdl-card .mdl-card__title {
  padding-bottom: 8px;
  background-color: #FFFFFF;
  width: 100%;
  padding-top: 8px;
}
/* line 76, ../sass/content.sass */
.mdl-card .mdl-card__title .mdl-card__title-text {
  color: #37474f;
  font-size: 22px;
}
/* line 80, ../sass/content.sass */
.mdl-card .mdl-card__supporting-text {
  width: 100%;
}
/* line 83, ../sass/content.sass */
.mdl-card .mdl-card__actions {
  position: relative;
}
/* line 86, ../sass/content.sass */
.mdl-card .table {
  margin-bottom: 0px;
  font-size: 13px;
  width: 100%;
  vertical-align: center;
}
/* line 91, ../sass/content.sass */
.mdl-card .table tr {
  padding-top: 0px;
  height: 20px;
}
/* line 94, ../sass/content.sass */
.mdl-card .table tr th {
  height: 35px;
}
/* line 96, ../sass/content.sass */
.mdl-card .table tr td {
  height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
}

/* line 103, ../sass/content.sass */
.clickable-row {
  cursor: pointer;
}
/* line 105, ../sass/content.sass */
.clickable-row:hover {
  background-color: #eee;
}

/* line 109, ../sass/content.sass */
.mdl-card .material-icons {
  color: #607D8B;
}
/* line 111, ../sass/content.sass */
.mdl-card .dark {
  color: #78909C;
}

/* line 114, ../sass/content.sass */
.mdl-tabs__tab {
  width: 100%;
}

/* line 117, ../sass/content.sass */
.fa-2x {
  font-size: 1.2em;
}

/* line 120, ../sass/content.sass */
.fat {
  width: 100%;
}

/* line 123, ../sass/content.sass */
.fa-1x {
  font-size: 0.8em;
  color: #78909C;
}

/* line 127, ../sass/content.sass */
.mdl-progress {
  width: 50px;
}

/* line 130, ../sass/content.sass */
.mdl-textfield {
  padding-top: 5px;
  font-size: 13px;
  width: 100%;
}

/* line 135, ../sass/content.sass */
.mdl-textfield__label:after {
  bottom: 15px;
}

/* line 138, ../sass/content.sass */
.select {
  padding: 3px;
}

/* line 141, ../sass/content.sass */
.input {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 145, ../sass/content.sass */
.form-control {
  border-radius: 1px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  font-size: 11px;
  height: 30px;
}

/* line 155, ../sass/content.sass */
.btn-file {
  position: relative;
  overflow: hidden;
}

/* line 159, ../sass/content.sass */
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
