/* line 17, ../sass/_base.sass */
.jumbotron {
  background-color: #FFFFFF;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  min-height: 100px;
  min-width: 320px;
  width: 100%;
  text-align: center;
}
/* line 26, ../sass/_base.sass */
.jumbotron h1 {
  font-size: 68px;
  font-weight: 40;
  color: #37474f;
}
/* line 30, ../sass/_base.sass */
.jumbotron h2 {
  font-size: 40px;
}

/* line 33, ../sass/_base.sass */
.mdl-layout-title {
  color: #EEF2F1;
  font-size: 24px;
}

/* line 37, ../sass/_base.sass */
.mdl-grid {
  max-width: 1400px;
}

/* line 40, ../sass/_base.sass */
.mdl-card {
  text-align: left;
}
/* line 43, ../sass/_base.sass */
.mdl-card .landing-card {
  background-color: #78909C;
  color: #EEF2F1;
  min-height: 180px;
}
/* line 48, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__title-text {
  font-size: 36px;
}
/* line 51, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__supporting-text {
  min-height: 130px;
}
/* line 53, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__supporting-text h1 {
  font-size: 36px;
}
/* line 56, ../sass/_base.sass */
.mdl-card .customize-card {
  background: url("../images/nnet_6.png") top 50% left 100% no-repeat #37474f;
  background-size: 240px 240px;
}
/* line 60, ../sass/_base.sass */
.mdl-card .train-card {
  background: url("../images/data_1.png") bottom 20% right 75% no-repeat #37474f;
  color: #EEF0F2;
}
/* line 64, ../sass/_base.sass */
.mdl-card .predict-card {
  background: url("../images/nnet_4.png") bottom 23% right 55% no-repeat #37474f;
  color: #37474f;
}

/* line 68, ../sass/_base.sass */
.mdl-card__actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 3, ../sass/sidebar.sass */
hr {
  color: #78909C;
  border-top: 1px solid #616161;
}

/* line 7, ../sass/sidebar.sass */
.mdl-layout__drawer {
  background-color: #EEF0F2;
}
/* line 10, ../sass/sidebar.sass */
.mdl-layout__drawer .mdl-layout-title {
  color: #37474f;
}
/* line 15, ../sass/sidebar.sass */
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  font-size: 14px;
  color: #37474f;
}
