/* line 19, ../sass/_base.sass */
.page-content {
  background-color: #B3D7E8;
  min-height: 100%;
}

/* line 22, ../sass/_base.sass */
.body {
  background-color: #B3D7E8;
  min-height: 100%;
}

/* line 26, ../sass/_base.sass */
.jumbotron {
  background-color: #B3D7E8;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  min-height: 100px;
  min-width: 320px;
  width: 100%;
  text-align: center;
}
/* line 35, ../sass/_base.sass */
.jumbotron h1 {
  font-size: 68px;
  font-weight: 40;
  color: #37474f;
}
/* line 39, ../sass/_base.sass */
.jumbotron h2 {
  font-size: 40px;
  color: #37474f;
  font-weight: 80;
}
/* line 44, ../sass/_base.sass */
.jumbotron small {
  color: #37474f;
}

/* line 48, ../sass/_base.sass */
.mdl-layout-title {
  color: #EEF2F1;
  font-size: 24px;
}

/* line 52, ../sass/_base.sass */
.mdl-layout__header {
  min-height: 40px;
}

/* line 54, ../sass/_base.sass */
.mdl-layout__header-row {
  min-height: 40px;
  height: 36px;
}

/* line 57, ../sass/_base.sass */
.mdl-layout__drawer-button {
  min-height: 36px;
  height: 36px;
  padding-top: 4px;
}
/* line 61, ../sass/_base.sass */
.mdl-layout__drawer-button i {
  color: #FFFFFF;
}

/* line 64, ../sass/_base.sass */
.mdl-layout-title {
  font-size: 21px;
  font-weight: 400;
}
/* line 67, ../sass/_base.sass */
.mdl-layout-title small {
  font-size: 17px;
  color: #EEF0F2;
  font-weight: 300;
}

/* line 72, ../sass/_base.sass */
.brand {
  font-size: 30px;
  font-weight: 500;
}

/* line 77, ../sass/_base.sass */
.mdl-grid {
  max-width: 1400px;
}

/* line 80, ../sass/_base.sass */
.mdl-card {
  text-align: left;
}
/* line 83, ../sass/_base.sass */
.mdl-card h4 {
  color: #37474f;
  margin-bottom: 0px;
}
/* line 86, ../sass/_base.sass */
.mdl-card h3 {
  color: #37474f;
}
/* line 89, ../sass/_base.sass */
.mdl-card .landing-card {
  background-color: #78909C;
  color: #EEF2F1;
  min-height: 300px;
}
/* line 94, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__title-text {
  font-size: 36px;
}
/* line 97, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__supporting-text {
  width: 100%;
  min-height: 130px;
}
/* line 100, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__supporting-text h1 {
  font-size: 36px;
}
/* line 103, ../sass/_base.sass */
.mdl-card .customize-card {
  background: url("../images/nnet_6.png") top 50% left 100% no-repeat #37474f;
  background-size: 240px 240px;
}
/* line 107, ../sass/_base.sass */
.mdl-card .train-card {
  background: url("../images/data_1.png") bottom 20% right 75% no-repeat #37474f;
  color: #EEF0F2;
}
/* line 111, ../sass/_base.sass */
.mdl-card .predict-card {
  background: url("../images/nnet_4.png") bottom 23% right 55% no-repeat #37474f;
  color: #37474f;
}

/* line 115, ../sass/_base.sass */
.mdl-card__actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 3, ../sass/sidebar.sass */
hr {
  color: #78909C;
  border-top: 1px solid #616161;
}

/* line 7, ../sass/sidebar.sass */
.mdl-layout__drawer {
  background-color: #FFFFFF;
}
/* line 10, ../sass/sidebar.sass */
.mdl-layout__drawer .mdl-layout-title {
  color: #37474f;
}
/* line 15, ../sass/sidebar.sass */
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  font-size: 13px;
  font-weight: 400;
  color: #37474f;
}

/* line 20, ../sass/sidebar.sass */
a {
  color: #37474f;
  text-decoration: none;
}
/* line 23, ../sass/sidebar.sass */
a.hover {
  color: #37474f;
  text-decoration: none;
}

/* line 28, ../sass/sidebar.sass */
.material-icons {
  color: #37474f;
}
