/* line 26, ../sass/_base.sass */
.modal-backdrop {
  position: static;
  z-index: 1;
}

/* line 30, ../sass/_base.sass */
.modal-dialog {
  margin: 100px auto;
  z-index: 1500;
}

/* line 34, ../sass/_base.sass */
.page-content {
  background-color: #ECF0EF;
  min-height: 100%;
}

/* line 37, ../sass/_base.sass */
.body {
  min-height: 100%;
}

/* line 40, ../sass/_base.sass */
.fa-exclamation {
  padding-left: 4px;
  padding-right: 4px;
}

/* line 44, ../sass/_base.sass */
.jumbotron {
  background-color: #ECF0EF;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  min-height: 100px;
  min-width: 320px;
  width: 100%;
  text-align: center;
}
/* line 53, ../sass/_base.sass */
.jumbotron h1 {
  font-size: 68px;
  font-weight: 40;
  color: #37474f;
}
/* line 57, ../sass/_base.sass */
.jumbotron h2 {
  font-size: 40px;
  color: #37474f;
  font-weight: 80;
}
/* line 62, ../sass/_base.sass */
.jumbotron small {
  color: #37474f;
}

/* line 66, ../sass/_base.sass */
.mdl-layout-title {
  color: #EEF2F1;
  font-size: 24px;
}

/* line 70, ../sass/_base.sass */
.mdl-layout__header {
  min-height: 40px;
}

/* line 72, ../sass/_base.sass */
.mdl-layout__header-row {
  min-height: 40px;
  height: 36px;
}

/* line 75, ../sass/_base.sass */
.mdl-layout__drawer-button {
  min-height: 36px;
  height: 36px;
  padding-top: 4px;
}
/* line 79, ../sass/_base.sass */
.mdl-layout__drawer-button i {
  color: #FFFFFF;
}

/* line 83, ../sass/_base.sass */
.mdl-layout__drawer .mdl-layout-title {
  font-size: 21px;
  font-weight: 400;
  padding-left: 20px;
  padding-bottom: 0px;
}
/* line 88, ../sass/_base.sass */
.mdl-layout__drawer .mdl-layout-title small {
  font-size: 17px;
  color: #EEF0F2;
  font-weight: 300;
}

/* line 93, ../sass/_base.sass */
.brand {
  font-size: 30px;
  font-weight: 500;
  padding-left: 10px;
}

/* line 99, ../sass/_base.sass */
.mdl-grid {
  max-width: 1400px;
}

/* line 102, ../sass/_base.sass */
.mdl-card {
  text-align: left;
}
/* line 105, ../sass/_base.sass */
.mdl-card h4 {
  color: #37474f;
  margin-bottom: 0px;
}
/* line 108, ../sass/_base.sass */
.mdl-card h3 {
  color: #37474f;
}
/* line 111, ../sass/_base.sass */
.mdl-card .landing-card {
  background-color: #78909C;
  color: #EEF2F1;
  min-height: 200px;
}
/* line 116, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__title-text {
  font-size: 36px;
}
/* line 119, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__supporting-text {
  width: 100%;
  min-height: 130px;
}
/* line 122, ../sass/_base.sass */
.mdl-card .landing-card .mdl-card__supporting-text h1 {
  font-size: 36px;
}
/* line 125, ../sass/_base.sass */
.mdl-card .customize-card {
  background: url("../images/nnet_6.png") top 50% left 100% no-repeat #37474f;
  background-size: 240px 240px;
}
/* line 129, ../sass/_base.sass */
.mdl-card .train-card {
  background: url("../images/data_1.png") bottom 20% right 75% no-repeat #37474f;
  color: #EEF0F2;
}
/* line 133, ../sass/_base.sass */
.mdl-card .predict-card {
  background: url("../images/nnet_4.png") bottom 23% right 55% no-repeat #37474f;
  color: #37474f;
}

/* line 137, ../sass/_base.sass */
.mdl-card__actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 3, ../sass/sidebar.sass */
hr {
  color: #EEF0F2;
  border-top: 1px solid #ccc;
}

/* line 7, ../sass/sidebar.sass */
.mdl-layout__drawer {
  background-color: #FFFFFF;
}
/* line 10, ../sass/sidebar.sass */
.mdl-layout__drawer .mdl-layout-title {
  color: #37474f;
}
/* line 15, ../sass/sidebar.sass */
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  font-size: 13px;
  font-weight: 400;
  color: #616161;
  padding: 12px 40px;
}
/* line 21, ../sass/sidebar.sass */
.mdl-layout__drawer .mdl-navigation .fa {
  color: #37474f;
}

/* line 24, ../sass/sidebar.sass */
a {
  color: #37474f;
  text-decoration: none;
}
/* line 27, ../sass/sidebar.sass */
a.hover {
  color: #37474f;
  text-decoration: none;
}

/* line 32, ../sass/sidebar.sass */
.material-icons {
  color: #37474f;
}
