<head>

    <!-- fonts and icons -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- reactive -->
	<script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>

    <!-- material design lite resources -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-red.min.css" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{=URL('static', 'stylesheets/sidebar.css')}}">
    <link rel="stylesheet" href="{{=URL('static', 'stylesheets/content.css')}}">

   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<div id="target"></div>

<script id="template" type="text/ractive">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

  <!-- navbar -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title">Dashboard</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
      </div>
    </div>
  </header>

  <!-- sidebar -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title brand">
		<a href="{{=URL('default', 'home')}}"> 
			<img src="/tinyML/static/images/tinyML.svg">
		
		</a> 
	</span>
	<hr>
    <nav class="mdl-navigation">
       <a class="mdl-navigation__link" href={{=URL('dashboard', 'index')}}>
             <i class="fa fa-2x fa-home"></i> Home
       </a>
       <a class="mdl-navigation__link" href={{=URL('dashboard', 'models')}}>
             <i class="fa fa-2x fa-cogs"></i> Models
       </a>
       <a class="mdl-navigation__link" href="{{=URL('dashboard', 'activity')}}">
             <i class="fa fa-2x fa-line-chart"></i> Activity
       </a>
       <a class="mdl-navigation__link mdl-js-ripple-effect" href={{=URL('dashboard', 'create')}}>
             <i class="fa fa-2x fa-plus-circle"></i> Create
       </a>
       <a class="mdl-navigation__link" href="{{=URL('dashboard', 'account')}}">
             <i class="fa fa-2x fa-user"></i> Account
       </a>
       <a class="mdl-navigation__link" href={{=URL('dashboard', 'tutorials')}}>
             <i class="fa fa-2x fa-book"></i> Tutorials 
       </a>
        <hr>
        <a class="mdl-navigation__link" href={{=URL('default', 'do_logout')}}>
             <i class="fa fa-2x fa-sign-out"></i> Logout
       </a>
    </nav>
  </div>


  <!-- main content -->
  <main class="mdl-layout__content">
    <div class="page-content">

    <div class="mdl-grid">

        <!-- explainer cards -->

        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <br>
          <div class="mdl-card flex-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--border">
             <h1 class="mdl-card__title-text">Models</h1>
          </div>
            <table class="table table-hover  mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">ID</th>
                  <th class="mdl-data-table__cell--non-numeric">Type</th>
                  <th class="mdl-data-table__cell--non-numeric">Name</th>
                  <th class="mdl-data-table__cell hidden-sm hidden-xs">States</th>
                  <th class="mdl-data-table__cell--non-numeric">Status</th>
                </tr>
              </thead>
              <tbody>
                {% #each models %}
                    <tr class="clickable-row" on-click="clickrow" data-href="{{=URL('dashboard', 'model')}}/{% id %}">
                      <td class="mdl-data-table__cell--non-numeric">{% id %}</td>
                      <td class="mdl-data-table__cell--non-numeric">{% mclass %}</td>
                      <td class="mdl-data-table__cell--non-numeric">{% name %}</td>
                      <td class="mdl-data-table__cell hidden-sm hidden-xs" style="padding: 8px 0px">
						{% #if compiled %}                                                                                                
						<span class="label label-primary"> compiled</span>
						{% else %}
						<span class="label label-warning"> un-compiled</span>
						{% /if %}
						{% #if trained  %}
						<span class="label label-primary"> trained</span>
						{% else %}
						<span class="label label-warning"> un-trained</span>
						{% /if %}
                      </td>

                      <td class="mdl-data-table__cell--non-numeric" style="padding: 11px 0px">
                    {% #if status == "predicting" %}
						<span class="label label-blue">
							 <i style="color: white" class="fa fa-2x fa-cog fa-spin"></i> {% status %}
						</span>
                    {% /if %}
                    {% #if status == "idle" %}
						<span class="label label-green">
                        <i style="color: white" class="fa fa-2x fa-check"></i> {% status %}
						</span>
                    {% /if %}
                    {% #if status == "broken" %}
						<span class="label label-red">
                        <i style="color: white" class="fa fa-2x fa-exclamation"></i> {% status %}
						</span>
                    {% /if %}
                    {% #if status == "training" %}
						<span class="label label-blue">
                        <i style="color: white" class="fa fa-2x fa-cog fa-spin"></i> {% status %}
						</span>
                    {% /if %}
                    {% #if status == "compiling" %}
						<span class="label label-light-blue">
                        <i style="color: white" class="fa fa-2x fa-cog fa-spin"></i> {% status %}
						</span>
                    {% /if %}
                      </td>
                    </tr>
                {% /each %}
              </tbody>
            </table>

            <div class="mdl-card__menu" >
            <button data-board-id="" id="new_model"
               class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="go_create">
                  <i class="material-icons">add_circle</i>
            </button>
            <button data-board-id="" id="view_models"
                    class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="go_models">
                  <i class="material-icons">open_in_new</i>
            </button>
            <div class="mdl-tooltip" for="new_model">
                <strong>create model</strong>
            </div>
            <div class="mdl-tooltip" for="view_models">
                <strong>view all</strong>
            </div>
          </div>
        </div>

        <br>

        <div class="flex-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--border">
             <h1 class="mdl-card__title-text">Requests Overview</h1>
          </div>
            <div id="home_plot">
            </div>
        </div>
        <br>

        </div>

        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <br>
          <div class=" mdl-card flex-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--border">
             <h1 class="mdl-card__title-text">Activity</h1>
          </div>
            <table class="table table-hover  mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">ID</th>
                  <th class="mdl-data-table__cell--non-numeric">Model</th>
                  <th class="mdl-data-table__cell--non-numeric">Type</th>
                  <th class="mdl-data-table__cell--non-numeric">Status</th>
                  <th class="mdl-data-table__cell--non-numeric hidden-sm hidden-xs">Output</th>
                </tr>
              </thead>
              <tbody>
                {% #each transactions %}
                    <tr class='clickable-row' on-click="clickrow" data-href="{{=URL('dashboard', 'mdlrequest')}}/{% id %}">
                      <td class="mdl-data-table__cell--non-numeric">{% id %}</td>
                      <td class="mdl-data-table__cell--non-numeric">{% model_name %}</td>
                      <td class="mdl-data-table__cell--non-numeric">{% tclass %}</td>
                        {% #if status == "active" %}
                          <td class="mdl-data-table__cell--non-numeric">
							<span class="label label-light-blue">
								<i style="color: white" class="fa fa-2x fa-cog fa-spin"></i> {% status %}
							</span>
                          </td>
                        {% /if %}
                        {% #if status == "failed" %}
                          <td class="mdl-data-table__cell--non-numeric">
							<span class="label label-red">
								<i style="color: white" class="fa fa-2x fa-cog fa-exclamation"></i> {% status %}
							</span>
                          </td>
                        {% /if %}
                        {% #if status == "success" %}
                          <td class="mdl-data-table__cell--non-numeric">
							<span class="label label-green">
								<i style="color: white" class="fa fa-2x fa-check"></i> {% status %}
							</span>
                          </td>
                        {% /if %}
                      <td class="mdl-data-table__cell--non-numeric hidden-sm hidden-xs"><small>{% tresult_short %}</small></td>
                    </tr>
                {% /each %}
              </tbody>
            </table>
                <div class="mdl-card__menu" >
                <button data-board-id="{% board_id %}" id="view_trs"
                        class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="go_activity">
                      <i class="material-icons">open_in_new</i>
                </button>
                <div class="mdl-tooltip" for="view_trs">
                    <strong>view all</strong>
                </div>
              </div>
          </div>

        <br>

        <div class="flex-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--border">
             <h1 class="mdl-card__title-text">Quick Predict</h1>
          </div>
          <div class="mdl-card__supporting-text">
			<label for="name-sel">Model</label>
			<div class="form-group">
			  <select value="{% current_edit_name %}" data-model-id="{% current_edit.uuid %}"
					 class="form-control" id="name-sel">
				{% #models:i %}
				<option value="{% name %}">{% name %}</option>
				{% /models %}
			  </select>
			</div>
            <label for="file-sel">Select File (.csv)</label>
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-primary btn-file">
						Browse&hellip; <input type="file" multiple>
					</button>
				</span>
				<input type="text" id="filesel" class="form-control" readonly>
			</div>
		   </div>
		   <div class="mdl-card__actions mdl-card--border">
			  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" on-click="create_new">
			 	Create 
			  </button>
		   </div>
			<div class="mdl-card__menu" >
                <button data-board-id="{% board_id %}" id="new_req"
                        class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="removeBoard">
                      <i class="material-icons">open_in_new</i>
                </button>
                <div class="mdl-tooltip" for="new_req">
                    <strong>view full form</strong>
                </div>
		   </div>

          </div>

        </div> <!-- end inner grid -->

  </main>
</div>
</script>

<!-- include the reactive handling code -->
<script>
var logged_in = {{=logged_in }};
var user_id = {{=user_id }};
var murl = "{{=murl}}";
var turl="{{=turl}}";
var create_url = "{{=URL('dashboard', 'create', vars={'tab' : 'new'}) }}" 
var models_url = "{{=URL('dashboard', 'models', vars={'page' : '1'}) }}" 
var activity_url = "{{=URL('dashboard', 'activity', vars={'page' : '1'}) }}" 
</script>
<script src="{{=URL('static', 'js/scripts/common.js')}}"></script>
<script src="{{=URL('static', 'js/scripts/dashboard.js')}}"></script>
<script>
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
        
    });
});
</script>
<script>
</script>
