<head>

    <!-- fonts and icons -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- reactive -->
    <script src="{{=URL('static', 'js/ractive.min.js')}}"></script>

    <!-- material design lite resources -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-red.min.css" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{=URL('static', 'stylesheets/sidebar.css')}}">
    <link rel="stylesheet" href="{{=URL('static', 'stylesheets/content.css')}}">

   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<div id="target"></div>

<script id="template" type="text/ractive">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

  <!-- navbar -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title">Dashboard > <small> Model Request </small> </span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
      </div>
    </div>
  </header>

  <!-- sidebar -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title brand">
		<a href="{{=URL('default', 'home')}}"> 
			<img src="/tinyML/static/images/tinyML.svg">
		
		</a> 
	</span>
	<hr>
    <nav class="mdl-navigation">
       <a class="mdl-navigation__link" href={{=URL('dashboard', 'index')}}>
             <i class="fa fa-2x fa-home"></i> Home
       </a>
       <a class="mdl-navigation__link" href={{=URL('dashboard', 'models')}}>
             <i class="fa fa-2x fa-cogs"></i> Models
       </a>
       <a class="mdl-navigation__link" href="{{=URL('dashboard', 'activity' )}}">
             <i class="fa fa-2x fa-line-chart"></i> Activity
       </a>
       <a class="mdl-navigation__link mdl-js-ripple-effect" href={{=URL('dashboard', 'create')}}>
             <i class="fa fa-2x fa-plus-circle"></i> Create
       </a>
       <a class="mdl-navigation__link" href="{{=URL('dashboard', 'account', user_signature=True)}}">
             <i class="fa fa-2x fa-user"></i> Account
       </a>
       <a class="mdl-navigation__link" href={{=URL('dashboard', 'tutorials')}}>
             <i class="fa fa-2x fa-book"></i> Tutorials 
       </a>
        <hr>
        <a class="mdl-navigation__link" href={{=URL('default', 'do_logout')}}>
             <i class="fa fa-2x fa-sign-out"></i> Logout
       </a>
    </nav>
  </div>


  <!-- main content -->
  <main class="mdl-layout__content">
    <div class="page-content">

    <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--1-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div> 
        <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <br>
          <div class=" mdl-card flex-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--border">
             <h1 class="mdl-card__title-text">Request # {% transaction.id %}</h1>
          </div>
           <div class="mdl-card__supporting-text" style="padding: 4px">
            <div class="mdl-grid" style="padding-top: 0">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <div class="mdl-grid" style="padding-top: 0">
                {% #transaction %}
                   <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--12-col-phone">
                   <span style="font-size:24px"><u>{% tclass %}</u> request for
                    <strong> <a href="{{=URL('dashboard', 'model')}}/{% model %}"> {% model_name %}</a>.</strong>
                   </span>
                   </div>
                   <br>
                   <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--12-col-phone">
                   Abstract : <span style="font-size:18px">"{% tresult %}"</span>
                   </div>
                   <br>
                   <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                    Created : {% created_at %}
                   </div>
                   <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                  {% #if finished_at %}
                   Finished : {% finished_at %}
                  {% else %}
                   Finished : <small> still running ... </small>
                  {% /if %}
                   </div>
                {% /transaction %}
               </div>
               </div>
             </div>
            </div>

            <div class="mdl-card__menu" >
                <button data-board-id="{% board_id %}" id="prev_page"
                        class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="trs_prev">
                      <i class="material-icons">arrow_back</i>
                </button>
                {% trans_id %}
                <button data-board-id="{% board_id %}" id="nxt_page"
                        class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="trs_nxt">
                      <i class="material-icons">arrow_forward</i>
                </button>
                <div class="mdl-tooltip" for="prev_page">
                    <strong>prev request</strong>
                </div>
                <div class="mdl-tooltip" for="nxt_page">
                    <strong>next request</strong>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-grid" style="padding-top: 0">
                  {% #transaction %}
                  <div class="mdl-cell mdl-cell--10-col mdl-cell--7-col-tablet mdl-cell--3-col-phone" style="margin-top:10px">
                    {% #if status == "active" %}
                        <span class="label label-light-blue">
                            <i style="color: white" class="fa fa-2x fa-cog fa-spin"></i> {% status %}
                        </span>
                    {% /if %}
                    {% #if status == "failed" %}
                        <span class="label label-red">
                            <i style="color: white" class="fa fa-2x fa-cog fa-exclamation"></i> {% status %}
                        </span>
                    {% /if %}
                    {% #if status == "success" %}
                        <span class="label label-green">
                            <i style="color: white" class="fa fa-2x fa-check"></i> {% status %}
                        </span>
                    {% /if %}
                  </div>
                  <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone" style="margin:0px">
                    <button data-board-id="{% board_id %}" id="download_file"
                            class="pull-right mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="download_file">
                          <i class="material-icons">file_download</i>
                    </button>
                 </div>
                 {% /transaction %}
               </div>
           </div>

            </div>
            <div class="mdl-tooltip" for="download_file">
                <strong>Download Request</strong>
            </div>

        <br>

          <div class=" mdl-card flex-card mdl-shadow--2dp">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
              <div class="mdl-tabs__tab-bar">
                  <a id="input-payload-tab" href="#input-payload-panel" on-click="set_input_panel" class="mdl-tabs__tab">Input Payload</a>
                  <a id="output-payload-tab" href="#output-payload-panel" on-click="set_output_panel" class="mdl-tabs__tab">Output Payload</a>
                  <a id="logs-tab" href="#logs-panel" on-click="set_logs_panel" class="mdl-tabs__tab">Logs</a>
              </div>
           <div class="mdl-card__supporting-text" style="padding: 4px">
            <div class="mdl-grid" style="padding-top: 0">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <div class="mdl-tabs__panel" id="input-payload-panel">
                {% #transaction %}
                {% #if tclass == "train" %}
                    {% #input_payload %}
                    <div class="mdl-grid" style="padding-top: 0">
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                      <h5> Training Parameters </h5>
                        <ul class="list" style="width:100%">
                        <li><strong># Epochs</strong> : {% nb_epoch %}</li>
                        <li><strong>Batch-Size</strong> : {% batch_size %}</li>
                        <li><strong>Validation Split</strong> : {% valid_split %}</li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                      {% #input_file %}
                      <h5> Input File </h5>
                        <ul class="list" style="width:100%">
                        <li><strong>Name</strong> : {% name %}</li>
                        <li><strong>Size</strong> : {% size_KB %}KB</li>
                        <li><strong>Entries</strong> : {% rcount %}</li>
                        <li><strong>Columns</strong> : {% ccount %}</li>
                        </ul>
                      {% /input_file %}
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                      {% #labels_file %}
                      <h5> Labels File </h5>
                        <ul class="list" style="width:100%">
                        <li><strong>Name</strong> : {% name %}</li>
                        <li><strong>Size</strong> : {% size_KB %}KB</li>
                        <li><strong>Entries</strong> : {% rcount %}</li>
                        <li><strong>Columns</strong> : {% ccount %}</li>
                        </ul>
                      {% /labels_file %}
                    </div>
                    </div>
                    {% /input_payload %}
                {% elseif tclass == "evaluate" %}
                    {% #input_payload %}
                    <div class="mdl-grid" style="padding-top: 0">
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                      <h5> Evaluation Parameters </h5>
                        <ul class="list" style="width:100%">
                        <li><strong>Batch-Size</strong> : {% batch_size %}</li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                      {% #input_file %}
                      <h5> Input File </h5>
                        <ul class="list" style="width:100%">
                        <li><strong>Name</strong> : {% name %}</li>
                        <li><strong>Size</strong> : {% size_KB %}KB</li>
                        <li><strong>Entries</strong> : {% rcount %}</li>
                        <li><strong>Columns</strong> : {% ccount %}</li>
                        </ul>
                      {% /input_file %}
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                      {% #labels_file %}
                      <h5> Labels File </h5>
                        <ul class="list" style="width:100%">
                        <li><strong>Name</strong> : {% name %}</li>
                        <li><strong>Size</strong> : {% size_KB %}KB</li>
                        <li><strong>Entries</strong> : {% rcount %}</li>
                        <li><strong>Columns</strong> : {% ccount %}</li>
                        </ul>
                      {% /labels_file %}
                    </div>
                    </div>
    
                    {% /input_payload %}
                {% elseif tclass == "predict" %}
                    {% #input_payload %}
                    <div class="mdl-grid" style="padding-top: 0">
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                      <h5> Prediction Parameters </h5>
                        <ul class="list" style="width:100%">
                        <li><strong>Batch-Size</strong> : {% batch_size %}</li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                      {% #input_file %}
                      <h5> Input File </h5>
                        <ul class="list" style="width:100%">
                        <li><strong>Name</strong> : {% name %}</li>
                        <li><strong>Size</strong> : {% size_KB %}KB</li>
                        <li><strong>Entries</strong> : {% rcount %}</li>
                        <li><strong>Columns</strong> : {% ccount %}</li>
                        </ul>
                      {% /input_file %}
                    </div>
                    </div>
                    {% /input_payload %}
                {% else %}
                    {% #input_payload %}
                        <h5>Compilation Parameters</h5>
                        <ul class="list" style="width:100%">
                        <li><strong>Name</strong> : {% name %}</li>
                        <li><strong>Class</strong> : {% mclass %}</li>
                        </ul>
                    {% /input_payload %}
                {% /if %}
                {% /transaction %}
                </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-tabs__panel" id="output-payload-panel">
                        {% #transaction %}
                        <ul class="list-unstyled" style="width:100%">
                            {% #each output_payload.output:i %}
                                <li>{% i+1 %}.) {% output_payload.output[i] %}</li>
                            {% /each %}
                        </ul>
                        <hr>
                        {% #if tclass=="train" || tclass=="predict" %}
                            <button id="prev_page" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="opage_prev">
                                  <i class="material-icons">arrow_back</i>
                            </button>
                            {% opage %}
                            <button id="nxt_page" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="opage_nxt">
                                  <i class="material-icons">arrow_forward</i>
                            </button>
                            <div class="mdl-tooltip" for="prev_page">
                                <strong>prev request</strong>
                            </div>
                            <div class="mdl-tooltip" for="nxt_page">
                                <strong>next request</strong>
                            </div>
                        {% /if %}
                        {% #if tclass == "train" %}
                            <table style="width:100%" class="fat table  table-responsive mdl-shadow--1dp">
                              <tbody>
                            {% #each output_payload.epochs_short:i %}
                                <tr class='clickable-row' >
                                    <td><strong>{% (opage-1)*opsize + i+1 %}</strong></td>
                                    {% #each this %}
                                    <td>{% @key %}.) {% this %}</td>
                                    {% /each %}
                                </tr>
                            {% /each %}
                            </tbody>
                            </table>
                        {% elseif tclass == "evaluate" %}
                        {% elseif tclass == "predict" %}
                            <table class="fat table  table-responsive mdl-shadow--1dp">
                              <tbody>
                            {% #each output_payload.predictions_short:i %}
                                <tr>
                                    <td><strong>{% (opage-1)*opsize + i+1 %}</strong></td>
                                    <td>{% output_payload.predictions_short[i] %}</td>
                                </tr>
                            {% /each %}
                            </tbody>
                            </table>
                        {% else %}
                        {% /if %}
                        {% /transaction %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-tabs__panel" id="logs-panel">
                        <div style="font-size: 12px; padding: 10px">
                        {% #transaction %}
                            <ul class="list-unstyled fat">
                            {% #each transaction.output_payload.logs:i %}
                                <li><code> {% transaction.output_payload.logs[i] %} </code></li>
                            {% /each %}
                            </ul>
                        {% /transaction %}
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>


        </div>
       </div>

     </div> <!-- end inner grid -->

  </main>
</div>
</script>

<!-- include the reactive handling code -->
<script>
var logged_in = {{=logged_in }};
var user_id = {{=user_id }};
var murl = "{{=murl}}";
var mdurl = "{{=mdurl}}";
var turl="{{=turl}}";
var tdurl = "{{=tdurl}}";
var trans_id = {{=trans_id}};
</script>
<script src="{{=URL('static', 'js/scripts/common.js')}}"></script>
<script src="{{=URL('static', 'js/scripts/dbrequest.js')}}"></script>
