<head>

    <!-- fonts and icons -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- reactive -->
    <script src="{{=URL('static', 'js/ractive.min.js')}}"></script>

    <!-- material design lite resources -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-red.min.css" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{=URL('static', 'stylesheets/sidebar.css')}}">
    <link rel="stylesheet" href="{{=URL('static', 'stylesheets/content.css')}}">

   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<div id="target"></div>

<script id="template" type="text/ractive">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

  <!-- navbar -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title">Dashboard > <small> Model </small> </span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
      </div>
    </div>
  </header>

  <!-- sidebar -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title brand">                                                                                         
        <a href="{{=URL('default', 'home')}}"> 
            <img src="/tinyML/static/images/tinyML.svg">
        </a> 
    </span>
	<hr>
    <nav class="mdl-navigation">                                                                                                  
       <a class="mdl-navigation__link" href={{=URL('dashboard', 'index')}}>
             <i class="fa fa-2x fa-home"></i> Home
       </a>
       <a class="mdl-navigation__link" href={{=URL('dashboard', 'models')}}>
             <i class="fa fa-2x fa-cogs"></i> Models
       </a>
       <a class="mdl-navigation__link" href="{{=URL('dashboard', 'activity')}}">
             <i class="fa fa-2x fa-line-chart"></i> Activity
       </a>
       <a class="mdl-navigation__link mdl-js-ripple-effect" href={{=URL('dashboard', 'create')}}>
             <i class="fa fa-2x fa-plus-circle"></i> Create
       </a>
       <a class="mdl-navigation__link" href="{{=URL('dashboard', 'account')}}">
             <i class="fa fa-2x fa-user"></i> Account
       </a>
       <a class="mdl-navigation__link" href={{=URL('dashboard', 'tutorials')}}>
             <i class="fa fa-2x fa-book"></i> Tutorials 
       </a>
        <hr>
        <a class="mdl-navigation__link" href={{=URL('default', 'do_logout')}}>
             <i class="fa fa-2x fa-sign-out"></i> Logout
       </a>
    </nav>
  </div>


  <!-- main content -->
  <main class="mdl-layout__content">
    <div class="page-content">


	<div id="train-modal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Training Your Model</h4>
		  </div>
		  <div class="modal-body">
			<p>Use this tab to upload inputs and labels which will be used to train your model.</p>
            <p><strong> Inputs </strong> - The input file must have the same number of data-columns as your model
            has input nodes, and the label file must have the same number of data-columns as your model has output nodes.
            The input and label files must have the same number of row, for they correspond to each-other in a one-to-one
            manner. </p>
            <p><strong> Training Parameters </strong> - You can customize the batch-size, number of epochs, and validation holdout.
            Each of these is described below.
            <ul>
            <li> Epochs - An epoch is a single run of the entire training data-set to train the wieghts, followed by a small evaluation
                    on a subset of the given data. In general, the more epochs you run the more accurate your model will be.</li>
            <li> Batch Size - This is the number of items that are processed before the weights are updated. </li>
            <li> Validation Holdout - This is the percent of the input/label data pairs that will put aside during each epoch
                for validation purposes. </li>
            </ul>
		  </div>
		</div>
	  </div>
	</div>

	<div id="eval-modal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Evaluating Your Model</h4>
		  </div>
		  <div class="modal-body">
			<p>This form allows you to upload labeled exampled for model evaluation. We will look at the inputs and make 
			   predictions, then compare those predictions to the given labels and report an accuracy back to you.</p>
		  </div>
		</div>
	  </div>
	</div>

	<div id="predict-modal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Making Predictions</h4>
		  </div>
		  <div class="modal-body">
			<p>This form allows you to upload unlabeled inputs for predicion to a <i>trained</i> model.</p>
		  </div>
		</div>
	  </div>
	</div>


    <div class="mdl-grid">

        <!-- explainer cards -->

		<!-- =========================================================== -->
		<!--                      Left Major Column 					 -->
		<!-- =========================================================== -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <br>

		<!-- =========================================================== -->
		<!--                      Main Model Card 						 -->
		<!-- =========================================================== -->
          <div class="mdl-card flex-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--border">
             <h1 class="mdl-card__title-text" >
				<span style="width:450px">
                <span style="color: #aaa; padding-left: 0px;padding-right: 10px; font-size: 12px"> 
                    {% model.id %}
                </span>
                {% model.name %}
                </span>
            </h1>
          </div>
		{% #model %}
          <div class="mdl-grid">
           <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone" style="margin:0">
          <div class="mdl-card--border">
			  <div class="mdl-grid">
			   <div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-tablet mdl-cell--4-col-phone" style="margin:0">
				 <h5>Overview :</h5>
				 <ul class="list-unstyled" style="width:70%;margin:auto">
				  <li> Type : <strong> {% mclass %}</strong>  </li>
				  <li> Created : {% created_at %}  </li>
				  <li> Updated : {% updated_at %} </li>
				</ul>
				</div>
			    <div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-tablet mdl-cell--4-col-phone" style="margin:0">
				<h5>Architecture :</h5> 
				 <ul class="list-unstyled" style="width:70%;margin:auto">
				  <li> <strong>{% arch.layer_dicts.length %}</strong> Hidden Layers. <br> </li>
				  <li> Input Dimension : <strong>{% arch.num_inp %}</strong> </li>
				  <li>  Output Dimension : <strong>{% arch.num_out %}</strong>  </li>
				  <li> Optimizer : <strong>'{% arch.optimizer %}'</strong> </li>
				  <li> Loss Function : <strong>{% arch.lossfn %}</strong> </li>
				</ul>
				</div>
				</div>
            </div>
          </div>
          </div>

		   <div class="mdl-card__actions mdl-card--border">
				 {% #if status == "predicting" %}
					<span class="label label-blue">                                                                           
						 <i style="color: white" class="fa fa-2x fa-cog fa-spin"></i> {% status %}
					</span>
				  {% /if %}
				 {% #if status == "evaluating" %}
					<span class="label label-blue">                                                                           
						 <i style="color: white" class="fa fa-2x fa-cog fa-spin"></i> {% status %}
					</span>
				  {% /if %}
				  {% #if status == "idle" %}
					<span class="label label-green">
						<i style="color: white" class="fa fa-2x fa-check"></i> {% status %}
					</span>
				  {% /if %}
				  {% #if status == "broken" %}
					<span class="label label-red">
						<i style="color: white" class="fa fa-2x fa-exclamation"></i> {% status %}
					</span>
				  {% /if %}
				  {% #if status == "training" %}
					<span class="label label-blue">
						<i style="color: white" class="fa fa-2x fa-cog fa-spin"></i> {% status %}
					</span>
				  {% /if %}
				  {% #if status == "compiling" %}
					<span class="label label-light-blue">
						<i style="color: white" class="fa fa-2x fa-cog fa-spin"></i> {% status %}
					</span>
				  {% /if %}
                {% #if compiled %}
                <span class="label label-primary"> compiled</span>
				{% else %}
                <span class="label label-warning"> un-compiled</span>
                {% /if %}
                {% #if trained  %}
                <span class="label label-primary"> trained</span>
				{% else %}
                <span class="label label-warning"> un-trained</span>
                {% /if %}
          </div>

		{% /model %}

            <div class="mdl-card__menu" >
            <button data-board-id="" id="new_model"
               class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="edit_model">
                  <i class="material-icons">mode_edit</i>
            </button>
            <div class="mdl-tooltip" for="new_model">
                <strong>edit model</strong>
            </div>
          </div>
        </div>

        <br>


		<!-- =========================================================== -->
		<!-- Card to train and/or make prediction with the current model -->
		<!-- =========================================================== -->

        <div class="flex-card mdl-card mdl-shadow--2dp">
		  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			 <div class="mdl-tabs__tab-bar">
			    <a id="train-tab" href="#train-panel" on-click="set_train_panel" class="mdl-tabs__tab">Train</a>
			    <a id="eval-tab" href="#eval-panel" on-click="set_eval_panel" class="mdl-tabs__tab">Evaluate</a>
			    <a id="predict-tab" href="#predict-panel" on-click="set_predict_panel" class="mdl-tabs__tab">Predict</a>
			  </div>
               <div class="mdl-card__supporting-text" style="padding: 4px">
                <div class="mdl-grid" style="padding-top: 0">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">

				  <!-- train panel -->
                  <div class="mdl-tabs__panel" id="train-panel">
					{% #train_payload %}
					<div class="mdl-grid" style="padding-top: 0">
						
					<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
						<label for="verif-holdout">Validation Holdout ({% valid_split  %}%)</label> 
						<input id="verif-holdout" class="mdl-slider mdl-js-slider" type="range"
						  min="0" max="50" value="{% valid_split %}" tabindex="0">
						<br>
					</div>

					<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
						<label for="verif-holdout">Number of Epochs ({% nb_epoch %})</label> 
						<input id="verif-holdout" class="mdl-slider mdl-js-slider" type="range"
						  min="1" max="{% max_epochs %}" value="{% nb_epoch %}" tabindex="0">
						<br>
					</div>

					<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
						<label for="verif-holdout">Batch Size ({% batch_size %})</label> 
						<input id="verif-holdout" class="mdl-slider mdl-js-slider" type="range"
						  min="1" max="{% max_batch_size %}" value="{% batch_size %}" tabindex="0">
						<br>
					</div>


					<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                           <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="train-input-switch">
                            <input type="checkbox" id="train-input-switch" class="mdl-switch__input" checked={% input.upload %}>
                            <span class="mdl-switch__label"> 
                                {% #if input.upload %} Upload Inputs {% else %} Saved Inputs {% /if %}
                            </span>
                           </label>
                            <br>
                            <br>
                        <div class="{% #if !input.upload %} hidden {% /if %}">
						<label for="file-sel">Select Inputs (.csv)</label>                                                                      
						<div class="input-group">
							<span class="input-group-btn">
								<div class="btn btn-primary btn-file">
									Browse&hellip; <input type="file" class="file" id="train-input-file" >
								</div>
							</span>
							<input type="text" id="train-input-sel" class="form-control" readonly>
						</div>
                        <br>
                        <button data-box-name="train-input-box"
                                class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="checkBox">
                                {% #if input.save %}
                                <i id="layer_check_{% uuid %}" class="fa fa-1x fa-check-square"></i>
                                {% else %}
                                <i id="layer_check_{% uuid %}" class="fa fa-1x fa-square-o"></i>
                                {% /if %}
                        </button>
                        <span class="mdl-checkbox__label">Save File to Account?</span>

						</div>
                        <div class="{% #if input.upload %} hidden {% /if %}">
                           <label for="train-input-name-sel">Saved Input Data</label>                                                                                   
                            {% #if saved_input %}
                            <div class="form-group">
                              <select value="{%  train_payload.input.select_ind %}" data-model-id="{% current_edit.uuid %}"
                                     class="form-control" id="train-input-name-sel">
                                {% #saved_input:i %}
                                <option value="{% i %}">{% name %}</option>
                                {% /saved_input %}
                              </select>
                            </div>
                            {% else %}
                            <p><small> You don't have any saved input files, try uploading one and checking the 'save'
                            box to save the input file to your account.</small></p>
                            {% /if %}
						</div>
					<br>
					</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                           <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="train-label-switch">
                            <input type="checkbox" id="train-label-switch" class="mdl-switch__input" checked={% labels.upload %}>
                            <span class="mdl-switch__label"> 
                                {% #if labels.upload %} Upload Labels {% else %} Saved Labels {% /if %}
                            </span>
                           </label>
                            <br>
                            <br>
                        <div class="{% #if !labels.upload %} hidden {% /if %}">
                            <label for="train-label-file">Select Labels (.csv)</label>                                                                      
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <div class="btn btn-primary btn-file">
                                        Browse&hellip; <input type="file" class="file" id="train-label-file">
                                    </div>
                                </span>
                                <input type="text" id="train-labels-sel" class="form-control" readonly>
                            </div>
                            <br>
                            <button data-box-name="train-labels-box"
                                    class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="checkBox">
                                    {% #if labels.save %}
                                    <i id="layer_check_{% uuid %}" class="fa fa-1x fa-check-square"></i>
                                    {% else %}
                                    <i id="layer_check_{% uuid %}" class="fa fa-1x fa-square-o"></i>
                                    {% /if %}
                            </button>
                            <span class="mdl-checkbox__label">Save File to Account?</span>
						</div>
                        <div class="{% #if labels.upload %} hidden {% /if %}">
                           <label for="train-label-name-sel">Saved Label Data</label>                                                                                   
                            {% #if saved_labels %}
                            <div class="form-group">
                              <select value="{% train_payload.labels.select_ind %}" class="form-control" id="train-label-name-sel">
                                {% #saved_labels:i %}
                                <option value="{% i %}">{% name %}</option>
                                {% /saved_labels %}
                              </select>
                            </div>
                            {% else %}
                            <p><small> You don't have any saved label data, try uploading a file and checking the 'save' box to
                             save the file to your account. </small></p>
                            {% /if %}
                        </div>
					<br>
					</div>

						<hr>
					 {% #if model.compiled && model.status == "idle" %}
						<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fat" on-click="train_model">
							Train	
							</button>
						</div>
						<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
					  {% elseif model.status === "compiling"  %}
						<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fat" on-click="train_model" disabled>
							Train	
							</button>
						</div>
						<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<br><br><br> <br>
						<small style="padding-left:20px"> <span style="color: green">Info!</span> Your model is compiling, afterwards you can train it. </small>
					  {% elseif model.status === "training"  %}
						<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fat" on-click="train_model" disabled>
							Train	
							</button>
						</div>
						<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<br><br><br> <br>
						<small style="padding-left:20px"> <span style="color: green">Info!</span> Your model is currently being trained. </small>
					  {% elseif model.status === "predicting" || model.status == "evaluating" %}
						<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fat" on-click="train_model" disabled>
							Train	
							</button>
						</div>
						<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<br><br><br> <br>
						<small style="padding-left:20px"> <span style="color: green">Info!</span> Your model is currently being predicting or evaluating, wait for this task to finish first. </small>
					  {% else %}
						<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fat" on-click="train_model" disabled>
							Train	
							</button>
						</div>
						<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<br><br><br> <br>
						<small style="padding-left:20px"> <span style="color: red">Warning!</span> Model must be fixed and recompiled before training can occur. </small>
						{% /if %}

				        </div>
						{% /train_payload %}
				    </div>


					<!-- evaluate panel -->
                    <div class="mdl-tabs__panel" id="eval-panel">
					{% #eval_payload %}
					<div class="mdl-grid" style="padding-top: 0">
						
					<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
						<label for="verif-holdout">Batch Size ({% batch_size %})</label> 
						<input id="verif-holdout" class="mdl-slider mdl-js-slider" type="range"
						  min="1" max="{% max_batch_size %}" value="{% batch_size %}" tabindex="0">
						<br>
					</div>


					<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                           <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="eval-input-switch">
                            <input type="checkbox" id="eval-input-switch" class="mdl-switch__input" checked={% input.upload %}>
                            <span class="mdl-switch__label"> 
                                {% #if input.upload %} Upload Inputs {% else %} Saved Inputs {% /if %}
                            </span>
                           </label>
                            <br>
                            <br>
                        <div class="{% #if !input.upload %} hidden {% /if %}">
						<label for="file-sel">Select Inputs (.csv)</label>                                                                      
						<div class="input-group">
							<span class="input-group-btn">
								<div class="btn btn-primary btn-file">
									Browse&hellip; <input type="file" class="file" id="eval-input-file" >
								</div>
							</span>
							<input type="text" id="eval-input-sel" class="form-control" readonly>
						</div>
                        <br>
                        <button data-box-name="eval-input-box"
                                class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="checkBox">
                                {% #if input.save %}
                                <i id="layer_check_{% uuid %}" class="fa fa-1x fa-check-square"></i>
                                {% else %}
                                <i id="layer_check_{% uuid %}" class="fa fa-1x fa-square-o"></i>
                                {% /if %}
                        </button>
                        <span class="mdl-checkbox__label">Save File to Account?</span>

						</div>
                        <div class="{% #if input.upload %} hidden {% /if %}">
                           <label for="eval-input-name-sel">Saved Input Data</label>                                                                                   
                            {% #if saved_input %}
                            <div class="form-group">
                              <select value="{% eval_payload.input.select_ind %}" class="form-control" id="eval-input-name-sel">
                                {% #saved_input:i %}
                                <option value="{% i %}">{% name %}</option>
                                {% /saved_input %}
                              </select>
                            </div>
                            {% else %}
                            <p><small> You don't have any saved input files, try uploading one and checking the 'save'
                            box to save the input file to your account.</small></p>
                            {% /if %}
						</div>
					<br>
					</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="eval-label-switch">
                          <input type="checkbox" id="eval-label-switch" class="mdl-switch__input" checked={% labels.upload %}>
                          <span class="mdl-switch__label"> 
                            {% #if labels.upload %} Upload Labels {% else %} Saved Labels {% /if %}
                          </span>
                        </label>
                        <br> <br>
                        <div class="{% #if !labels.upload %} hidden {% /if %}">
                            <label for="eval-label-file">Select Labels (.csv)</label>                                                                      
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <div class="btn btn-primary btn-file">
                                        Browse&hellip; <input type="file" class="file" id="eval-label-file">
                                    </div>
                                </span>
                                <input type="text" id="eval-labels-sel" class="form-control" readonly>
                            </div>
                            <br>
                            <button data-box-name="eval-labels-box"
                                    class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="checkBox">
                                    {% #if labels.save %}
                                    <i id="layer_check_{% uuid %}" class="fa fa-1x fa-check-square"></i>
                                    {% else %}
                                    <i id="layer_check_{% uuid %}" class="fa fa-1x fa-square-o"></i>
                                    {% /if %}
                            </button>
                            <span class="mdl-checkbox__label">Save File to Account?</span>
						</div>
                        <div class="{% #if labels.upload %} hidden {% /if %}">
                           <label for="eval-label-name-sel">Saved Label Data</label>                                                                                   
                            {% #if saved_labels %}
                            <div class="form-group">
                              <select value="{% eval_payload.labels.select_ind %}" class="form-control" id="eval-label-name-sel">
                                {% #saved_labels:i %}
                                <option value="{% i %}">{% name %}</option>
                                {% /saved_labels %}
                              </select>
                            </div>
                            {% else %}
                            <p><small> You don't have any saved label data, try uploading a file and checking the 'save' box to
                             save the file to your account. </small></p>
                            {% /if %}
                        </div>
                    <br>
                </div>

					 {% #if model.trained  && model.status == "idle"  %}
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fat" on-click="eval_model">
								Evaluate	
							</button>
						</div>
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
					 {% elseif model.trained && (model.status == "evaluating" || model.status == "predicting" )  %}
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fat" on-click="eval_model" disabled>
								Evaluate	
							</button>
						</div>
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
					  {% else %}
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fat" disabled>
								Evaluate	
							</button>
						</div>
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<br><br><br> <br>
						<small style="padding-left:20px"> <span style="color: blue">Info!</span> Model must be trained before evaluation can occur. </small>
						{% /if %}

				        </div>
						{% /eval_payload %}
				    </div> <!-- end eval tab -->
					
					<!-- predict panel -->
                    <div class="mdl-tabs__panel" id="predict-panel">
					{% #predict_payload %}
					<div class="mdl-grid" style="padding-top: 0">

					<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
						<label for="verif-holdout">Batch Size ({% batch_size %})</label> 
						<input id="verif-holdout" class="mdl-slider mdl-js-slider" type="range"
						  min="1" max="{% max_batch_size %}" value="{% batch_size %}" tabindex="0">
						<br>
					</div>

					<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                           <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="predict-input-switch">
                            <input type="checkbox" id="predict-input-switch" class="mdl-switch__input" checked={% input.upload %}>
                            <span class="mdl-switch__label"> 
                                {% #if input.upload %} Upload Inputs {% else %} Saved Inputs {% /if %}
                            </span>
                           </label>
                            <br>
                            <br>
                        <div class="{% #if !input.upload %} hidden {% /if %}">
						<label for="file-sel">Select Inputs (.csv)</label>                                                                      
						<div class="input-group">
							<span class="input-group-btn">
								<div class="btn btn-primary btn-file">
									Browse&hellip; <input type="file" class="file" id="predict-input-file" >
								</div>
							</span>
							<input type="text" id="predict-input-sel" class="form-control" readonly>
						</div>
                        <br>
                        <button data-box-name="predict-input-box"
                                class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="checkBox">
                                {% #if input.save %}
                                <i id="layer_check_{% uuid %}" class="fa fa-1x fa-check-square"></i>
                                {% else %}
                                <i id="layer_check_{% uuid %}" class="fa fa-1x fa-square-o"></i>
                                {% /if %}
                        </button>
                        <span class="mdl-checkbox__label">Save File to Account?</span>

						</div>
                        <div class="{% #if input.upload %} hidden {% /if %}">
                           <label for="predict-input-name-sel">Saved Input Data</label>                                                                                   
                            {% #if saved_input %}
                            <div class="form-group">
                              <select value="{% predict_payload.input.select_ind %}" class="form-control" id="predict-input-name-sel">
                                {% #saved_input:i %}
                                <option value="{% i %}">{% name %}</option>
                                {% /saved_input %}
                              </select>
                            </div>
                            {% else %}
                            <p><small> You don't have any saved input files, try uploading one and checking the 'save'
                            box to save the input file to your account.</small></p>
                            {% /if %}
						</div>
   					<br>
					</div>


					 {% #if model.trained  && model.status == "idle"  %}
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fat" on-click="predict_model">
							  Predict	
							</button>
						</div>
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
					 {% elseif model.trained && (model.status == "evaluating" || model.status == "predicting" )  %}
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fat" on-click="predict_model" disabled>
							Predict	
							</button>
						</div>
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
					  {% else %}
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fat" disabled>
								Evaluate	
							</button>
						</div>
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
						<br><br><br> <br>
						<small style="padding-left:20px"> <span style="color: blue">Info!</span> Model must be trained before prediction can occur. </small>
						{% /if %}

				        </div>
						{% /predict_payload %}
				    </div> <!-- end predict tab -->

				</div> <!-- / inner cell -->
				</div> <!-- / inner grid -->
			  </div> <!-- / supporting text -->
		  
		   <div class="mdl-card__actions mdl-card--border">
				<div class="" style="font-size: 13px">
				   {% #if current_tab == "train" %}
					<small> Use this form to train your model on labeled training data.
						<button data-board-id="" id="new_model"  data-toggle="modal" data-target="#train-modal"
						   class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							  <i class="material-icons">help</i>
						</button>
					</small>
					{% elseif current_tab == "eval" %}
						<small> Use this form to test your model with labeled data.
							<button data-board-id="" id="new_model"  data-toggle="modal" data-target="#eval-modal"
							   class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
								  <i class="material-icons">help</i>
							</button>
						</small>
					{% else %}
						<small> Use this form to make predictions on unlabeled data.
							<button data-board-id="" id="new_model"  data-toggle="modal" data-target="#predict-modal"
							   class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
								  <i class="material-icons">help</i>
							</button>
						</small>
					{% /if %}
				</div>
			</div>

          </div> <!-- end train/predict card tabs -->
        </div> <!-- end train/predict card -->
        </div>





		<!-- =========================================================== -->
		<!--                      Right Major Column 					 -->
		<!-- =========================================================== -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <br>


		<!-- =========================================================== -->
		<!--                      Hidden Layers Card                     -->
		<!-- =========================================================== -->
        <div class="flex-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--border">
             <h1 class="mdl-card__title-text">Hidden Layers</h1>
          </div>
			 {% #model %}
			 {% #arch %}
			<table class="table table-hover  mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">#</th>                                                           
                  <th class="mdl-data-table__cell--non-numeric">Type</th>
                  <th class="mdl-data-table__cell--non-numeric">Nodes</th>
                  <th class="mdl-data-table__cell--non-numeric">Initializer</th>
                  <th class="mdl-data-table__cell--non-numeric">Activation</th>
                </tr>
              </thead>
			<tbody>
			 {% #each layer_dicts:i %}
			<tr>
				<td class="mdl-data-table__cell--non-numeric">
				  {% i+1 %}
				</td>
				<td class="mdl-data-table__cell--non-numeric">
					{% type %}
				</td>
				<td class="mdl-data-table__cell--non-numeric">
					{% nodes %}
				</td>
				<td class="mdl-data-table__cell--non-numeric">
					{% init %}
				</td>
				<td class="mdl-data-table__cell--non-numeric">
					{% activation %}
				</td>
			</tr>
			 {% /each %}
			</tbody>
			</table>
			 {% /arch %}
			 {% /model %}
        </div>

        <br>
		<!-- =========================================================== -->
		<!--                  Model-Specific Activity Card 				 -->
		<!-- =========================================================== -->
          <div class=" mdl-card flex-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--border">
             <h1 class="mdl-card__title-text">Activity</h1>
          </div>
            <table class="table table-hover  mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">ID</th>
                  <th class="mdl-data-table__cell--non-numeric">Model</th>
                  <th class="mdl-data-table__cell--non-numeric">Type</th>
                  <th class="mdl-data-table__cell--non-numeric">Status</th>
				  <th class="mdl-data-table__cell--non-numeric hidden-sm hidden-xs">Output</th>
                </tr>
              </thead>
              <tbody>
                {% #each transactions %}
                    <tr class='clickable-row' on-click="clickrow" data-href="{{=URL('dashboard', 'mdlrequest')}}?tid={% id %}">
                      <td class="mdl-data-table__cell--non-numeric">{% id %}</td>
                      <td class="mdl-data-table__cell--non-numeric">{% model_name %}</td>
                      <td class="mdl-data-table__cell--non-numeric">{% tclass %}</td>
                        {% #if status == "active" %}
                          <td class="mdl-data-table__cell--non-numeric">
                            <span class="label label-light-blue">
                                <i style="color: white" class="fa fa-2x fa-cog fa-spin"></i> {% status %}
                            </span>
                          </td>                                                                                                   
                        {% /if %}
                        {% #if status == "failed" %}
                          <td class="mdl-data-table__cell--non-numeric">
                            <span class="label label-red">
                                <i style="color: white" class="fa fa-2x fa-cog fa-exclamation"></i> {% status %}
                            </span>
                          </td>
                        {% /if %}
                        {% #if status == "success" %}
                          <td class="mdl-data-table__cell--non-numeric">
                            <span class="label label-green">
                                <i style="color: white" class="fa fa-2x fa-check"></i> {% status %}
                            </span>
                          </td>
                        {% /if %}
						<td class="mdl-data-table__cell--non-numeric hidden-sm hidden-xs"><small>{% tresult_short %}</small></td>
                    </tr>
                {% /each %}
              </tbody>
            </table>
                <div class="mdl-card__menu" >
                <button data-board-id="{% board_id %}" id="view_trs"
                        class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="go_activity">
                      <i class="material-icons">open_in_new</i>
                </button>
                <div class="mdl-tooltip" for="view_trs">
                    <strong>view all</strong>
                </div>
              </div>
          </div>


        </div> <!-- end inner grid -->
  </main>
</div>
</script>

<!-- include the reactive handling code -->
<script>
var logged_in = {{=logged_in }};
var user_id = {{=user_id }};
var mdurl = "{{=mdurl}}";
var turl = "{{=turl}}";
var model_id = {{=model_id}};
var create_url = "{{=URL('dashboard', 'create', vars=dict(tab='edit'))}}"+"&model_id="+model_id;;
var user_data_url = "{{=user_data_url}}";
var predict_url = "{{=predict_url}}";
var train_url = "{{=train_url}}";
var eval_url = "{{=eval_url}}";
console.log(create_url);
</script>
<script src="{{=URL('static', 'js/scripts/common.js')}}"></script>
<script src="{{=URL('static', 'js/scripts/dbmodel.js')}}"></script>
<script>
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
        
    });
});
</script>



