$colorWhite: #F5f5f5
$colorWhite: #FFFFFF
$colorRed: #7D2529
$colorGreen: #5CB85C
$colorDarkBlue: #37474f
$colorLightBlue: #78909C
$colorLightBlue2: #5D879B
$colorGray: #616161
$colorLightGray: #EEF0F2
$colorLightGray2: #E0E0E0
$colorBlack: #111111
$colorBlack: #242221
$colorOffWhite: #ECF0EF
$colorOffWhite: #F6FAF9
$colorOffWhite: #EEF2F1

.jumbotron
  background-color: $colorLightGray
  padding-top: 0px
  padding-bottom: 0px
  min-height: 100px
  min-width: 320px
  width: 100%
  text-align: center
  h1
    font-size: 68px
    font-weight: 40
    color: $colorDarkBlue
  h2
    font-size: 40px

.mdl-card
  text-align: left

  .mdl-card__title
    background-color: $colorLightBlue
    color: $colorOffWhite
    min-height: 150px

  .customize-card
    background: url("../images/nnet_3.png") bottom 13% right 5% no-repeat #37474f

  .train-card
    background: url("../images/data_1.png") bottom 6% right 75% no-repeat #37474f
    color: $colorLightGray

  .predict-card
    background: url("../images/nnet_4.png") bottom 23% right 55% no-repeat #37474f
    color: $colorDarkBlue

    

.mdl-card__supporting-text
  min-height: 230px

.mdl-card__actions
  position: absolute
  right:    0
  bottom:   0

.mdl-grid
  max-width: 1400px
