$colorWhite: #F5f5f5
$colorWhite: #FFFFFF
$colorRed: #7D2529
$colorGreen: #5CB85C
$colorDarkBlue: #37474f
$colorLightBlue: #78909C
$colorLightBlue2: #5D879B
$colorGray: #616161
$colorLightGray: #EEF0F2
$colorLightGray2: #E0E0E0
$colorBlack: #111111
$colorBlack: #242221
$colorOffWhite: #ECF0EF
$colorOffWhite: #F6FAF9
$colorOffWhite: #EEF2F1

.jumbo-card
  min-height: 200px
  min-width: 380px
  text-align: center
  h1
    font-size: 68px
    font-weight: 40
    color: $colorDarkBlue
  h2
    font-size: 40px

.mdl-grid
  padding-top: 40px
