@import 'base'

.flex-card
  width: auto

.mdl-card
  min-height: 100px
  overflow-x: auto
  .mdl-card__menu
    margin-top: -10px

  .mdl-card__title
    padding-bottom: 8px
    background-color: $colorDarkBlue
    width: 100%

    padding-top: 8px
    .mdl-card__title-text
      color: $colorWhite
      font-size: 22px

  .mdl-card__supporting-text
    width: 100%

  .table
    margin-bottom: 0px
    font-size: 12px
    width: 100%
    vertical-align: center
    tr
      padding-top: 0px
      height: 20px
      th
        height: 35px
      td
        height: 40px
        text-overflow: ellipsis
        width: 120px
        overflow: hidden
        white-space: nowrap
        width: 100px

.clickable-row
  cursor: pointer
  &:hover
    background-color: #000

.mdl-card
  .material-icons
    color: $colorWhite

.fa-2x
  font-size: 1.2em

.mdl-progress
  width: 50px
