@import 'base'

$font-stack:    Roboto

.flex-card
  width: auto

.mdl-grid
  width: 100%

.btn
  padding: 4px 12px

.btn-primary
  background-color: $colorPrimary
  border: 1px solid $colorPrimary
  border-radius: 2px

.label
  font-size: 10px
  margin-left: 5px

.label-primary
  background-color: $colorDarkBlue

.label-warning
  background-color: $colorGray

.label-green
  background-color: $colorGreen

.label-blue
  background-color: $colorDarkBlue

.label-red
  background-color: $colorRed

.label-light-blue
  background-color: $colorLightBlue

.error
  border: 1px solid red
pre
  text-align: left
  white-space: pre-line
  overflow: auto
  word-wrap: normal

pre code 
  overflow-wrap: normal
  white-space: pre
  color: $colorDarkBlue

  
.list-unstyled
  font-size: 12px


body
  font-family: 'Roboto', sans-serif

.mdl-card
  min-height: 100px
  overflow-x: auto
  .mdl-card__menu
    margin-top: -10px
    right: 12px
    top: 12px

  .mdl-card__title
    padding-bottom: 8px
    background-color: $colorWhite
    width: 100%

    padding-top: 8px
    .mdl-card__title-text
      color: $colorDarkBlue
      font-size: 22px

  .mdl-card__supporting-text
    width: 100%

  .mdl-card__actions
    position: relative

  .table
    margin-bottom: 0px
    font-size: 13px
    width: 100%
    vertical-align: center
    tr
      padding-top: 0px
      height: 20px
      th
        height: 35px
      td
        height: 40px
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        width: auto 

.clickable-row
  cursor: pointer
  &:hover
    background-color: #eee

.mdl-card
  .material-icons
    color: $colorPrimary
  .dark
    color: $colorLightBlue

.mdl-tabs__tab
  width: 100%

.fa-2x
  font-size: 1.2em

.fat
  width: 100%

.fa-1x
  font-size: 0.8em
  color: $colorLightBlue

.mdl-progress
  width: 50px

.mdl-textfield
  padding-top: 5px
  font-size: 13px
  width: 100%

.mdl-textfield__label:after
  bottom: 15px

.select
  padding: 3px

.input
  padding-top: 0px
  padding-bottom: 0px

.form-control
  border-radius: 1px
  padding-top: 4px
  padding-left: 4px
  padding-right: 4px
  padding-bottom: 4px
  font-size: 11px
  height: 30px


.btn-file 
  position: relative
  overflow: hidden

.btn-file input[type=file] 
  position: absolute
  top: 0
  right: 0
  min-width: 100%
  min-height: 100%
  font-size: 100px
  text-align: right
  filter: alpha(opacity=0)
  opacity: 0
  outline: none
  background: white
  cursor: inherit
  display: block

