@import 'base'

hr
  color: $colorLightBlue
  border-top: 1px solid $colorGray

.mdl-layout__drawer
  background-color: $colorLightGray

  .mdl-layout-title
    color: $colorDarkBlue

  .mdl-navigation

    .mdl-navigation__link
      font-size: 14px
      color: $colorDarkBlue
